<!DOCTYPE html>
<html>
  <head>
    <title>restapp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>restapp</h1>
    <p>Welcome to restapp</p>
  </body>
</html>